* {
    margin: 0;
    padding: 0;
}

#content, #menu-buttons, #draw-area, .menu-item, #edit-area{
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
}

#content {
    display: grid;
    text-align: center;
    grid-template-columns: 220px 1fr;
    height: 100%;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

#draw-area {
    height: 600px;
    background-color: midnightblue;
    margin: 5px 5px 5px 0;
}

#menu-area {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#menu-buttons, #edit-area {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    margin: 5px 5px 5px 5px;
}

#edit-area {
    margin: 0 5px 5px 5px;
}

.menu-item, .edit-item {
    width: fit-content;
    height: 30px;
    margin: 5px;
    padding: 2px;
}

.edit-item {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.edit-item>div {
    font-size: small;
    border-style: solid;
    border-width: 1px;
    padding: 2px;
}

.menu-item:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.menu-item-selected {
    background-color: rgb(142, 149, 255);
}